.site-Footer {
    background-color:#333; */Force Theme Blanc
    color: #aaa;         */Force Theme Blanc
    text-align:center;     */Force Theme Blanc
    margin-top:60px;     */Force Theme Blanc
}