.site-header{
    background-color:#ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.site-header h1{
    margin:0;
    color:#007bff;
}
site-header nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-header nav li {
    margin-left: 20px;
}

.site-header nav a{
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
.site-header nav a:hover{
    color: #007bff;
}

.Header-logo{
    color:#007bff;
    text-decoration:none;
}