.hero {
    background-color:#007bff;
    color: white;
    padding: 60px 20px;
    text-align: center;
}
.hero h2{
    font-size:40px;
    margin-top:0;
}
.hero form{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}
.hero input[type="search"]{
flex: 1;
padding: 15px;
font-size: 16px;
border: none;
border-radius: 5px 0 0 5px;
}
.hero button {
    padding:15px 30px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius:0 5px 5px 0;
    cursor: pointer;
}
.hero button:hover{
    background-color:#555;
}