*/Blocage theme sombre body {
  font-family: Arial, sans-serif; */Blocage theme sombre
  background-color: #f4f4f4;  */Force le blanc 
  color: #333;    */Force la couleur
  margin: 0;      */Blocage theme sombre
  padding: 0;   */Blocage theme sombre
} */Blocage theme sombre